---
- name: Debian | Update cache
  ansible.builtin.apt:
    update_cache: "yes"
    cache_valid_time: "{{ powershell_apt_update_cache | default(3600) }}"
  register: pkg_result
  until: pkg_result is success

- name: Ensure apt dependencies are present
  ansible.builtin.package:
    name:
      - curl
      - gnupg
      - apt-transport-https
      - python3-debian
    state: present
  register: pkg_result
  until: pkg_result is success

- name: Debian | Add Microsoft APT key
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      curl -sSL https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor | sudo tee {{ powershell_apt_key_path }} > /dev/null
  args:
    executable: /bin/bash
    creates: "{{ powershell_apt_key_path }}"

- name: Add Microsoft apt repository for powershell
  ansible.builtin.deb822_repository:
    name: "microsoft"
    types: deb
    uris: "https://packages.microsoft.com/repos/microsoft-{{ ansible_facts['distribution'] | lower }}/{{ ansible_facts['distribution_release'] | lower }}-prod"
    suites: "{{ ansible_facts['distribution_release'] | lower }}"
    components:
      - main
    architectures: amd64
    signed_by: "{{ powershell_apt_key_path }}"
  notify:
    - Update apt cache
