---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true

- name: Restart rsyslog
  ansible.builtin.service:
    name: rsyslog
    state: restarted
  when:
    - not is_container|bool
