---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true

- name: Validate powershell rsyslog config
  ansible.builtin.command:
    cmd: "rsyslogd -N2"
  changed_when: false

- name: Restart rsyslog
  ansible.builtin.service:
    name: rsyslog
    state: restarted
  when:
    - not is_container|bool
